*{
    margin:0;
    padding:0;
    text-decoration: none;
}
header{
    background: rgb(11,19,43);
    padding: 20px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
}
li{
    display: inline-block;
}
li a{
    color: white;
    margin-right: 25px;
}
li a:hover{
    color: rgb(215, 26, 26);
}
.logo{
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}
.nav{
    background-image: url(ChatGPT\ Image\ May\ 2\,\ 2026\,\ 08_39_28\ PM.png);
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0%;
    color: white;
}
h1{
    color:white;
    font-weight: 600;
    font-variant: small-caps;
}
H3{
    color:yellow;
}
button{
    background-color:rgb(0,150, 255);
    margin: 0%;
    padding: 0%;
}
.profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
h6{
    color: black;
    background-color: rgba(240, 248, 255, 1);
    font-family: inherit;
    font-size: large;
    font-weight: 100;
    justify-content: space-between;
}
h4{
    font-weight: bold;
    font-style: initial;
}
button{
    background-color:red;
    border: none;
    outline: none;
    color: white;
}
iframe{
    background: transparent;
}
fieldset{color: black;
    background-color: rgba(240, 248, 255, 1);
    font-family: inherit;
    font-size: large;
    font-weight: 100;
    justify-content: space-between;

}
footer{
    background-color:rgb(11,19,43);
    color: white;
}
.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
}
footer li{
    color: white;
}
footer a:hover{
    color: red;
}
html{
    scroll-behavior: smooth;
}